<p-confirmDialog [closable]="false" key="chunk-delete" />
<p-toast></p-toast>

<p-panel *ngIf="index" [toggleable]="true" [style]="{'margin-top': '15px', 'max-width': '86vw'}">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            {{index.name}}
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <p-button class="p-panel-header-icon p-link mr-2" icon="pi pi-chevron-left" [rounded]="true" [disabled]="first" (onClick)="toPrev()"></p-button>
        <p-button class="p-panel-header-icon p-link mr-2" icon="pi pi-chevron-right" [rounded]="true" [disabled]="last" (onClick)="toNext()"></p-button>
        <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <div *ngIf="chunk" class="text-chunk">
        <ng-container *ngFor="let element of chunk.elements">
            <app-text-chunk-element [element]="element" [chunk]="chunk"></app-text-chunk-element>
        </ng-container>
    </div>
</p-panel>
<div *ngIf="versions" class="align-items-center">
    <p-panel *ngFor="let version of versions" [toggleable]="true" [collapsed]="true" [style]="{'margin-top': '15px', 'max-width': '86vw'}">
        <ng-template pTemplate="header">
            {{version.indexName}}. {{version.headerCode}}
        </ng-template>
        <ng-template pTemplate="content">
            <div class="text-chunk">
                <ng-container>
                    {{version.value}}
                </ng-container>
            </div>
        </ng-template>
    </p-panel>
</div>

<app-element-selector></app-element-selector>