<div *ngIf="chunk" class="text-chunk">
    <span class="index-name">{{chunk.indexName}}.&nbsp;</span>
    <ng-container *ngFor="let element of chunk.elements">
        <app-text-chunk-element [element]="element" [chunk]="chunk"></app-text-chunk-element>
    </ng-container>
</div>
<div *ngIf="versions">
    <div *ngFor="let version of versions" class="text-version text-chunk">
        <span class="index-name">{{version.indexName}}.&nbsp;</span>
        <ng-container *ngFor="let element of version.elements">
            <app-text-chunk-element [element]="element" [chunk]="version"></app-text-chunk-element>
        </ng-container>
        <span class="header-code">{{version.headerCode}}</span>
    </div>
</div>
<mat-tab-group *ngIf="chunk" headerPosition="above">
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Morphologia</span>
            <mat-chip color="primary" *ngIf="currentForm">{{currentForm.value}}</mat-chip>
        </ng-template>
        <app-morph-selector></app-morph-selector>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Commentaria</span>
            <mat-chip color="warn" *ngIf="currentForm">{{currentForm.value}}</mat-chip>
        </ng-template>
        <app-note-editor></app-note-editor>
    </mat-tab>
</mat-tab-group>