<mat-toolbar>
  <button mat-mini-fab color="secondary" aria-label="Open index panel" (click)="Click()">
    <mat-icon [svgIcon]="toggleIcon"></mat-icon>
  </button>
  <mat-divider [vertical]="true" class="mat-divider"></mat-divider>
  <button mat-mini-fab color="secondary" aria-label="Create chunk" (click)="CreateChunk()" *ngIf="index && !chunk">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab color="secondary" aria-label="Edit chunk" (click)="EditChunk()" *ngIf="chunk">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-mini-fab color="warn" aria-label="Delete chunk" (click)="DeleteChunk()" *ngIf="chunk">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="spacer"></div>
  <mat-slide-toggle [aria-label]="toggleLabel" color="primary" [(ngModel)]="isChecked"
    (change)="Change()"></mat-slide-toggle>
</mat-toolbar>
<mat-progress-bar mode="buffer" *ngIf="progressBarIsOn"></mat-progress-bar>