.container{
    display: flex;
}

app-user-list{
    width: 20%;
    border-right-color: gainsboro;
    border-right-style: solid;
    border-right-width: 1px;
}
app-user{
    width: 80%;
}

.btn-text-project, .btn-dict-project{
    margin-right: 10px;
}