<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button [rounded]="true" icon="pi pi-bars" (click)="menu.toggle($event)" [disabled]="!isAuthenticated"></p-button>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <span class="title">{{title}}</span>
    </div>
    <div class="p-toolbar-group-end">
        <span class="name" *ngIf="loggedUser">{{loggedUser.name}}&nbsp;{{ResolveRoleName(loggedUser.role)}}</span>
        <p-button [rounded]="true" *ngIf="isAuthenticated" icon="pi pi-user" (click)="logout()"></p-button>
    </div>
</p-toolbar>