<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" class="app-toolbar-row" fxLayoutAlign="space-between center">
            <button mat-icon-button (click)="toggleSideBar()" [disabled]="!isAuthenticated" >
                <mat-icon svgIcon="menu"></mat-icon>
            </button>
            <span class="title">{{title}}</span>
            <mat-icon *ngIf="currentProject?.desc" svgIcon="more_vert"></mat-icon>
            <span class="current-project" color="secondary">{{currentProject?.desc}}</span>
            <span class="spacer"></span>
            <button *ngIf="isAuthenticated" mat-icon-button (click)="logout()">
                <mat-icon svgIcon="exit"></mat-icon>
            </button>
    </mat-toolbar-row>
</mat-toolbar>