<p-splitter [panelSizes]="[15, 85]" layout="vertical">
  <ng-template pTemplate>
    <app-project-toolbar [project]="project" (onClose)="Close()"></app-project-toolbar>
  </ng-template>
  <ng-template pTemplate>
    <p-splitter [panelSizes]="[12, 88]" *ngIf="header">
      <ng-template pTemplate>
        <app-text-index-tree *ngIf="header" [header]="header"></app-text-index-tree>
      </ng-template>
      <ng-template pTemplate>
        <app-text-chunk *ngIf="header"></app-text-chunk>
      </ng-template>
    </p-splitter>
  </ng-template>
</p-splitter>