<app-project-toolbar [project]="project" (onClose)="Close()"></app-project-toolbar>
<mat-progress-bar mode="buffer" *ngIf="progressBarIsOn"></mat-progress-bar>
<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="drawerOpened">
    <app-text-index-toolbar></app-text-index-toolbar>
    <app-text-index *ngIf="header" [header]="header"></app-text-index>
  </mat-drawer>
  <div class="sidenav-content">
    <app-text-toolbar *ngIf="header"></app-text-toolbar>
    <app-text-chunk *ngIf="header"></app-text-chunk>
  </div>
</mat-drawer-container>