.morph {
    cursor: pointer;
    color: blueviolet;
}

.notmorph {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.mark {
    background: gold;
}

.note {
    font-weight: 600;
    cursor: pointer;
}

.note:hover {
    border-bottom: 1px dotted red;
    color: red;
}