<mat-tree class="index-tree" cdkscrollable [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-chip-listbox [selectable]="true">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-chip-option (click)="Select(node._id)" class="index-chip">{{node.item}}</mat-chip-option>
            <app-text-index-item-toolbar [indexId]="node._id"></app-text-index-item-toolbar>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <mat-chip-option (click)="Select(node._id)" class="index-chip">{{node.item}}</mat-chip-option>
                <app-text-index-item-toolbar [indexId]="node._id"></app-text-index-item-toolbar>
            @if (node.isLoading) {
            <mat-progress-bar mode="indeterminate" class="tree-progress-bar"></mat-progress-bar>
            }
        </mat-tree-node>
    </mat-chip-listbox>
</mat-tree>