<p-toolbar [style]="{}">
    <div class="p-toolbar-group-start">
        <app-project-selector></app-project-selector>
    </div>
    <div class="p-toolbar-group-center flex-1">
        <p-dropdown *ngIf="project" [style]="{'width': '100%', 'max-width': '500px', 'min-width': '500px'}"
            [(ngModel)]="selected" [options]="headers" optionLabel="desc" placeholder="Select a Header"
            (onChange)="Change()"></p-dropdown>
    </div>
    <div class="p-toolbar-group-end">
        <p-button styleClass="p-button-secondary" [style]="{'margin-right': '15px', 'margin-left': '15px'}"
            icon="pi pi-bars" (click)="menu.toggle($event)"></p-button>
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </div>
</p-toolbar>