<mat-card>
  <mat-card-header>
    <mat-card-title>Новый проект</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <mat-select [formControl]="selected" (selectionChange)="Change()">
        @for (work of works; track work) {
        <mat-option [value]="work.code" [disabled]="ProjectExists(work.code)">{{work.code}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="CreateAndOpen()" [disabled]="isDisabled">Создать</button>
    <button mat-button (click)="Cancel()">Отмена</button>
  </mat-card-actions>
</mat-card>