<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>INTROITUS</h2>
      <mat-error *ngIf="!loginValid">
        Имя пользователя (почтовый адрес) и пароль не известны
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Почта" autocomplete="username" [(ngModel)]="username" name="username" required>
        <mat-error>
          Введите почтовый адрес
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" autocomplete="current-password" placeholder="Пароль" [(ngModel)]="password"
          name="password" required>
        <mat-error>
          Введите пароль
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid || !isCorrect">Accipe</button>
    </form>
  </mat-card-content>
</mat-card>