<mat-card *ngIf="entry" class="entry-card">
    <mat-card-header *ngIf="header" style="background-color: #f5f5f5; padding-bottom: 15px; align-items: center;">
        <app-view-selector [elements]="headerElements"></app-view-selector>
        <div class="spacer"></div>
        <button mat-icon-button color="secondary" aria-label="adde elementum" (click)="addChildElement(header)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content *ngIf="body" style="padding: 16px; display: flex; align-items: center;">
        <div>
            <app-view-selector [elements]="bodyElements"></app-view-selector>
        </div>
        <div class="spacer"></div>
        <button mat-icon-button color="secondary" aria-label="adde elementum" (click)="addChildElement(body)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-content>
    <mat-card-footer *ngIf="footer" style="padding: 16px; display: flex; align-items: center;">
        <app-view-selector [elements]="footerElements"></app-view-selector>
        <div class="spacer"></div>
        <button mat-icon-button color="secondary" aria-label="adde elementum" (click)="addChildElement(footer)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>