<app-dialog (onCancel)="Cancel()" (onSave)="Save()" [disabled]="isDisabled" [title]='title'>
    <form class="form" [formGroup]="form">
        <mat-form-field class="input-field-full-width">
          <mat-label>Код</mat-label>
          <input matInput formControlName="codeInput" required>
        </mat-form-field>
        <mat-form-field class="input-field-full-width">
            <mat-label>Тип издания</mat-label>
            <mat-select formControlName="editionTypeSelect" required>
                @for (editionType of editionTypes; track editionType) {
                <mat-option [value]="editionType.code">{{editionType.code}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field-full-width">
            <mat-label>Язык</mat-label>
            <mat-select formControlName="langSelect" required>
                @for (language of languages; track language) {
                <mat-option [value]="language.code">{{language.code}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field-full-width">
          <mat-label>Библиография</mat-label>
          <textarea rows="10" matInput formControlName="biblioInput" required></textarea>
        </mat-form-field>
      </form>
  </app-dialog>
