<form class="form" [formGroup]="form">
  <div class="flex flex-wrap">  
    <div class="flex flex-column">
      <label for="name">Index name</label>
      <input class="mb-3" pInputText formControlName="name" id="name" required>
    </div>
    <div class="flex flex-column ml-6">
      <label for="order">Order</label>
      <input pInputText formControlName="order" id="order" required>
    </div>
  </div>
  <p-button icon="pi pi-check" (click)="isDisabled = false" label="Submit" pAutoFocus [autofocus]="true" (click)="Save()" [disabled]="isDisabled"></p-button>
</form>
