  <form class="form" [formGroup]="form">
    <input formControlName="name" required>
    <input formControlName="order" required>
  </form>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="isDisabled = false" label="Ok" pAutoFocus [autofocus]="true" (click)="Save()" [disabled]="isDisabled"></p-button>
    <p-button label="Cancel" (click)="Cancel()" [text]="true"  styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
</ng-template>
