<p-sidebar
  [style]="{'margin-top': '100px', 'margin-right':'75px', 'height': 'calc(100vh - 9rem)', 'position': 'fixed', 'width':'300px'}"
  styleClass="project-sidebar" [visible]="true" position="right" [modal]="false" [showCloseIcon]="false">
  <ng-template pTemplate="header">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        {{header?.code}}
    </div>
    <div class="p-toolbar-group-end">
      
    </div>
    </p-toolbar>
  </ng-template>
  <ng-template pTemplate="content">
    <app-text-index-tree *ngIf="header" [header]="header"></app-text-index-tree>
  </ng-template>
</p-sidebar>
<app-project-toolbar [project]="project" (onClose)="Close()"></app-project-toolbar>
<app-text-chunk *ngIf="header"></app-text-chunk>