<div *ngIf="index">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
        <div class="item-menu" fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="CreateChildIndex()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="EditIndexName()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="DeleteIndex()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-menu>
</div>