/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  height: 100%;
  min-width: 360px;
}

.spacer {
  flex: 1 1 auto;
}

app-sidenav {
  display: flex;
}

mat-drawer-container {
  flex: 1 1 auto;
  height: 100%;
  background-color: transparent !important;
}

mat-drawer {
  width: auto;
}

.input-field-full-width{
  width: 100%;
}

app-text-selector{
  width: 100%;
  height: inherit;
  margin-top: 14px;
  margin-left: 15px;
}